:root {
  --primary-dark: rgb(170, 172, 252);
  --primary-light: #f29191;
  --background: #eee; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  background-color: var(--background);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400; }

button:focus,
input:focus {
  outline: none; }

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content repeat(6, 1fr);
  min-height: 65rem;
  max-width: 35rem;
  margin: 13vh auto 10rem auto;
  text-align: center;
  background: linear-gradient(135deg, var(--primary-dark), var(--primary-light));
  box-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  opacity: 10%; }
  .calculator button:hover {
    box-shadow: 0 2rem 4.5rem rgba(88, 88, 88, 0.3); }
  .calculator button:active {
    box-shadow: 0 2rem 4.5rem rgba(88, 88, 88, 0.5);
    font-size: 2.8rem;
    transform: scale(0.95); }
  .calculator button:focus {
    outline: none;
    box-shadow: 0 2rem 4.5rem rgba(88, 88, 88, 0.3); }
  .calculator__mode {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    font-weight: normal;
    font-size: 1.4rem;
    cursor: pointer;
    align-self: center;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: transparent;
    border: none; }
    .calculator__mode:hover {
      transform: translateY(-3px); }
  .calculator__input {
    max-width: inherit;
    grid-column: 1/ -1;
    background-color: transparent;
    color: #fff;
    padding: 1rem 5rem 1rem 0rem;
    font-size: 4rem;
    border: none;
    cursor: pointer;
    text-align: right; }
  .calculator .btn {
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    display: inline;
    border: none;
    border: 5px solid transparent;
    transition: all .1s; }
  .calculator__0 {
    grid-column: 1/ span 1;
    grid-row: 7/ span 1; }
  .calculator__1 {
    grid-column: 1/ span 1;
    grid-row: 6/ span 1; }
  .calculator__2 {
    grid-column: 2/ span 1;
    grid-row: 6/ span 1; }
  .calculator__3 {
    grid-column: 3/ span 1;
    grid-row: 6/ span 1; }
  .calculator__4 {
    grid-column: 1/ span 1;
    grid-row: 5/ span 1; }
  .calculator__5 {
    grid-column: 2/ span 1;
    grid-row: 5/ span 1; }
  .calculator__6 {
    grid-column: 3/ span 1;
    grid-row: 5/ span 1; }
  .calculator__7 {
    grid-column: 1/ span 1;
    grid-row: 4/ span 1; }
  .calculator__8 {
    grid-column: 2/ span 1;
    grid-row: 4/ span 1; }
  .calculator__9 {
    grid-column: 3/ span 1;
    grid-row: 4/ span 1; }
  .calculator__decimal {
    grid-column: 2/ span 1;
    grid-row: 7/ span 1; }
    .calculator__decimal span {
      margin-bottom: 1.1rem; }
  .calculator__negative {
    grid-column: 3/ span 1;
    grid-row: 7/ span 1; }
  .calculator__clear {
    grid-column: 4/ span 1;
    grid-row: 7/ span 1; }
  .calculator__equal {
    grid-column: 4/ span 1;
    grid-row: 4/span 3; }
  .calculator__plus {
    grid-column: 1/ span 1;
    grid-row: 3/ span 1; }
  .calculator__minus {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1; }
  .calculator__divide {
    grid-column: 3/ span 1;
    grid-row: 3/ span 1; }
  .calculator__multiply {
    grid-column: 4/ span 1;
    grid-row: 3/span 1; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

footer {
  text-align: center;
  color: #757575; }
