:root {
    //COLORS
    --primary-dark: rgb(170, 172, 252);
    // --primary-light: rgb(242, 172, 145);

    // --primary-dark: #F20505;
    --primary-light: #f29191;


    --background: #eee;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: sans-serif;
    background-color: var(--background);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

button,
input {
    &:focus {
        outline: none;
    }
}